.custom-form.form-control {
    height: 30px;
    border: none;
    border-radius: 10px;
    background-color: #f2f2f2;
    margin-bottom: 10px;
}

.custom-text.form-control {
    margin-bottom: 10px;
    overflow-y: hidden;
}

.btn.btn-secondary {
    color: #ba2e1f;
    background-color: #f2f2f2;
    border: none;
    padding: 5px 10px;
}

.bv-no-focus-ring .invalid-feedback {
    margin-bottom: 10px;
}
