.navbar-custom{
    padding: 0.5rem 0;
}

.navbar-light .header-nav-item .nav-link {
    font-size: 12px;
    color: #fff;
}

.navbar-light .header-nav-item .nav-link:first-child {
    padding-left: 0;
}

.navbar-light .header-nav-item.pipe .nav-link:after {
    content: '|';
    color: #fff;
    position: relative;
    left: 4px;
}

.form-control-sm {
    height: 26px;
    border-radius: 10px;
    padding: 0 35px 1px 12px;
}

.btn.header-search-btn {
    border: none;
    border-radius: 50%;
    background-color: #ba2e1f;
    color: #fff;
    position: absolute;
    right: 3px;
    top: 2px;
    padding: 0 4px;
    height: 22px;
}

.header-icons {
    display: flex;
    margin-bottom: 3px;
}

.header-icon {
    color: white;
    background: black;
    padding: 7px 0;
    border-radius: 50%;
    font-size: 32px;
    transition: .5s;
}

.header-icon:hover {
    background-color: #ee802f;
    cursor: pointer;
    transition: .5s;
}

.svg-inline--fa.fa-w-14 {
    width: 32px;
}

.svg-inline--fa.fa-w-12 {
    width: 32px;
}

.svg-inline--fa.fa-w-20 {
    width: 32px;
}

.main-menu-navbar {
    background-color: #333333;
    border-radius: 10px;
    justify-content: flex-end;
}

.navbar-toggler:focus {
    outline: none;
}


.main-menu-nav-item {
    width: 100%;
    text-align: center;
}

.navbar-light .navbar-nav .main-menu-nav-item .nav-link{
    color: #fff;
    font-size: 12px;
    width: 100%;
    transition: 0.3s;
    text-transform: uppercase;
}

.navbar-light .navbar-nav .main-menu-nav-item .nav-link:hover{
    color: #ba2e1f;
    transition: 0.3s;
}

.router-link {
    color: #333333;
}

.router-link:hover {
    color: #333333;
    text-decoration: none;
}

@media (max-width: 575px) {
    .navbar-nav-custom {
        width:100%;
    }
}
