.main-content-link {
    display: block;
    text-align: right;
    color: #ba2e1f;
    position: relative;
    right: 12px;
}

.main-content-link:hover {
    text-decoration: none;
    color: #ba2e1f;
}

.main-content-link:after {
    content: '»';
    position: absolute;
    right: -12px;
    bottom: 1px;
    color: #ba2e1f;
}
