.pre-footer-list li {
    border-bottom: 1px solid #d4d4d4;
    padding: 2px 0;
}

.pre-footer-links {
    display: block;
    color: #666666;
}

.pre-footer-links:before {
    content: "»";
    padding-right: 5px;
    position: relative;
    top: -1px;
}

.pre-footer-links:hover {
    color: #666666;
    text-decoration: none;
}
