.bg-red {
    background-color: #ba2e1f;
}

.bg-light-grey {
    background-color: #f2f2f2;
}

.color-white {
    color: #fff;
}
.color-red {
    color: #ba2e1f;
}

.color-light-grey {
    color: #919191;
}

.f-size-10 {
    font-size: 10px;
}

.f-size-12 {
    font-size: 12px;
}

.f-size-13 {
    font-size: 13px;
}

.f-size-14 {
    font-size: 14px;
}

.f-size-16 {
    font-size: 16px;
}

.f-size-26 {
    font-size: 26px;
}

.f-size-36 {
    font-size: 36px;
}

.f-size-86 {
    font-size: 86px;
}

.mb-30 {
    margin-bottom: 30px;
}

.pt-30 {
    padding-top: 30px;
}

.pb-30 {
    padding-bottom: 30px;
}

.border-1 {
    border: 1px solid #dfdfdf;
}

.border-top-1 {
    border-top: 1px solid #666666;
}

.link-custom {
    color: #ba2e1f;
}

.link-custom:hover {
    text-decoration: none;
    color: #ba2e1f;
}

.link-custom:after {
    content: '»';
    color: #ba2e1f;
    padding-left: 4px;
}

.list-style-type-none {
    list-style-type: none;
}
