<template>
    <div class="vh-100 d-flex flex-column">

        <v-header class="flex-grow-0"/>

        <div class="flex-grow-1 d-flex flex-column justify-content-center">
            <h1 class="color-red text-center">404 Page Not Found</h1>
        </div>
        <!--footer-->
        <v-footer class="flex-grow-0"/>
    </div>
</template>

<script>
    import VHeader from "../components/header/Header";
    import VFooter from "../components/footer/Footer";

    export default {
        name: "ErrorPage",
        components: {VFooter, VHeader}
    }
</script>
