<template>
    <div>
        <!--Header-->
        <v-header/>
        <!--Main content-->
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-5">
                    <div>
                        <img class="w-100" src="https://via.placeholder.com/400x440/000">
                    </div>
                </div>
                <div class="col-12 col-lg-7">
                    <div class="h-100 d-flex flex-column justify-content-end">
                        <div class="mb-30">
                            <h1 class="f-size-86 text-center text-uppercase">A HUGE TITLE HERE</h1>
                            <p class="f-size-16 text-justify">Cursuspenatisaccum ut curabitur nulla tellus tor ames a in
                                curabitur pede. Idet mollisi eros dis orci congue elis et curabitur consequam intesque.
                                Curabiturpisametur in ante.</p>
                            <a href="#" class="main-content-link">READ MORE</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--About us-->
        <div class="bg-light-grey pt-30 pb-1">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-lg-4">
                        <h2 class="f-size-26 text-center text-lg-left mb-30">A Little About Us</h2>
                        <div class="border-1 p-1 mb-30">
                            <img class="w-100" src="https://via.placeholder.com/290x140/000">
                        </div>
                        <p class="f-size-13 color-grey mb-4 text-justify">Justoid nonummy laoreet phasellent penatoque
                            in antesque
                            pellus
                            elis eget tincidunt. Nequatdui laorem
                            justo a non tellus laoreet tincidunt ut vel velit nonummy laoreet phasellent penatoque in
                            antesque
                            pellus elis eget tincidunt.</p>
                        <p class="f-size-13 color-grey mb-2 text-justify">Idenim semper pellente velis felit ac. Justoid
                            nonummy
                            laoreet
                            phasellent penatoque in antesque
                            pellus elis eget tincidunt.</p>
                        <div class="text-right mb-4">
                            <a href="#" class="f-size-13 link-custom">Read More About Us</a>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4">
                        <h2 class="f-size-26 text-center text-lg-left mb-30">Some of Our Services</h2>
                        <div class="row mb-3">
                            <div class="col-3">
                                <img class="w-100" src="https://via.placeholder.com/64X64/000">
                            </div>
                            <div class="col-9">
                                <h4 class="f-size-14 color-grey font-weight-bold">Service Name</h4>
                                <p class="f-size-13 color-grey text-justify">Inteligula congue id elis donec sce sag
                                    ittis intes id
                                    laoreet
                                    aenean. </p>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-3">
                                <img class="w-100" src="https://via.placeholder.com/64X64/000">
                            </div>
                            <div class="col-9">
                                <h4 class="f-size-14 color-grey font-weight-bold">Service Name</h4>
                                <p class="f-size-13 color-grey text-justify">Inteligula congue id elis donec sce sag
                                    ittis intes id
                                    laoreet
                                    aenean. </p>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-3">
                                <img class="w-100" src="https://via.placeholder.com/64X64/000">
                            </div>
                            <div class="col-9">
                                <h4 class="f-size-14 color-grey font-weight-bold">Service Name</h4>
                                <p class="f-size-13 color-grey text-justify">Inteligula congue id elis donec sce sag
                                    ittis intes id
                                    laoreet
                                    aenean. </p>
                            </div>
                        </div>

                        <div class="row mb-1">
                            <div class="col-3">
                                <img class="w-100" src="https://via.placeholder.com/64X64/000">
                            </div>
                            <div class="col-9">
                                <h4 class="f-size-14 color-grey font-weight-bold">Service Name</h4>
                                <p class="f-size-13 color-grey text-justify">Inteligula congue id elis donec sce sag
                                    ittis intes id
                                    laoreet
                                    aenean. </p>
                            </div>
                        </div>

                        <div class="text-right mb-4">
                            <a href="#" class="link-custom f-size-13">View All Of Our Services</a>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4">
                        <h2 class="f-size-26 text-center text-lg-left mb-30">What Our Clients Say</h2>
                        <div class="d-flex mb-2">
                            <h4 class="about-us-block-title f-size-16 mb-0 mt-2">
                                <span class="position-absolute mt-2">Tommy Tanker - CEO</span>
                            </h4>
                        </div>
                        <p class="f-size-13 color-grey mb-2 text-justify">Justoid nonummy laoreet phasellent penatoque
                            in antesque
                            pellus elis eget tincidunt. Nequatdui laorem justo a non tellus laoreet tincidunt ut vel
                            velit. Idenim semper pellente velis felit ac
                            nullam pretium morbi lacus.</p>
                        <div class="text-right mt-2 mb-3">
                            <a href="#" class="link-custom f-size-13">View This Project</a>
                        </div>

                        <div class="d-flex mb-2">
                            <h4 class="about-us-block-title f-size-16 mb-0 mt-2">
                                <span class="position-absolute mt-2">Tommy Tanker - CEO</span>
                            </h4>
                        </div>
                        <p class="f-size-13 color-grey mb-2 text-justify">Justoid nonummy laoreet phasellent penatoque
                            in antesque
                            pellus
                            elis eget tincidunt. Nequatdui laorem
                            justo a non tellus laoreet tincidunt ut vel velit. Idenim semper pellente velis felit ac
                            nullam
                            pretium morbi lacus.</p>
                        <div class="text-right mt-2">
                            <a href="#" class="link-custom f-size-13">View This Project</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!--Pre footer-->
        <div class="pt-30 pb-30">
            <div class="container">
                <div class="row">

                    <div class="col-12 col-md-6 col-lg-3 mb-30-px text-center text-md-left">
                        <h3 class="f-size-16 color-grey border-top-1 pt-3 mb-4 text-uppercase">LATEST TWEETS</h3>
                        <div class="f-size-12 color-grey text-justify">
                            <p><span class="color-red">@namehere </span>Justoid nonummy laoreet phasellent penatoque in
                                antesque pellus elis eget tincidunt.
                                Nequatdui laorem justo a non tellus laoremut vitae doloreet 1 day ago</p>
                            <p><span class="color-red">@namehere </span>Justoid nonummy laoreet phasellent penatoque in
                                antesque pellus elis eget tincidunt.
                                Nequatdui laorem justo a non tellus laoremut vitae doloreet 1 day ago</p>
                        </div>
                    </div>

                    <div class="col-12 col-md-6 col-lg-3 mb-30-px text-center text-md-left">
                        <h3 class="f-size-16 color-grey border-top-1 pt-3 mb-4 text-uppercase">QUICK LINKS</h3>
                        <ul class="list-style-type-none f-size-12 pl-0 pre-footer-list">
                            <li>
                                <a href="#" class="pre-footer-links">Lorem ipsum dolor sit</a>
                            </li>
                            <li>
                                <a href="#" class="pre-footer-links">Amet consectetur</a>
                            </li>
                            <li>
                                <a href="#" class="pre-footer-links">Praesent vel sem id</a>
                            </li>
                            <li>
                                <a href="#" class="pre-footer-links">Curabitur hendrerit est</a>
                            </li>
                            <li>
                                <a href="#" class="pre-footer-links">Aliquam eget erat nec sapien</a>
                            </li>
                            <li>
                                <a href="#" class="pre-footer-links">Cras id augue nunc</a>
                            </li>
                            <li>
                                <a href="#" class="pre-footer-links">In nec justo non</a>
                            </li>
                            <li>
                                <a href="#" class="pre-footer-links">Vivamus mollis enim ut</a>
                            </li>
                            <li>
                                <a href="#" class="pre-footer-links">Curabitur hendrerit est</a>
                            </li>
                            <li>
                                <a href="#" class="pre-footer-links">Sed a nulla urna</a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-12 col-md-6 col-lg-3 mb-30-px text-center text-md-left">
                        <h3 class="f-size-16 color-grey border-top-1 pt-3 mb-4 text-uppercase">LATEST BLOG POSTS</h3>
                        <p class="color-grey f-size-14 mb-0">Post Title</p>
                        <p class="f-size-10 color-light-grey mb-0">
                            <span class="f-size-10 color-red">Admin</span>, domainname.com</p>
                        <p class="color-grey f-size-10 mb-2">Friday, 6th April 2000</p>
                        <p class="f-size-12 color-grey mb-1 text-justify">Nulla facilisi. Ut fringilla. Suspendisse
                            potenti.
                            Nunc feugiat mi
                            a tellus consequat imperdiet.</p>
                        <div class="text-right mb-2">
                            <a href="#" class="link-custom f-size-12">Read More</a>
                        </div>

                        <p class="color-grey f-size-14 mb-0">Post Title</p>
                        <p class="f-size-10 color-light-grey mb-0"><span
                                class="f-size-10 color-red">Admin</span>,
                            domainname.com</p>
                        <p class="color-grey f-size-10 mb-2">Friday, 6th April 2000</p>
                        <p class="f-size-12 color-grey mb-1 text-justify">Nulla facilisi. Ut fringilla. Suspendisse
                            potenti.
                            Nunc feugiat mi
                            a tellus consequat imperdiet.</p>
                        <div class="text-right">
                            <a href="#" class="link-custom f-size-12">Read More</a>
                        </div>
                    </div>

                    <div class="col-12 col-md-6 col-lg-3 mb-30-px text-center text-md-left">
                        <h3 class="f-size-16 color-grey border-top-1 pt-3 mb-4 text-uppercase">CONTACT US</h3>

                        <Form/>

                    </div>

                </div>
            </div>
        </div>
        <!--footer-->
        <v-footer/>
    </div>
</template>

<script>
    import '@/assets/css/pre-footer.css'
    import '@/assets/css/about-us.css'
    import '@/assets/css/main-content.css'

    import VHeader from "../components/header/Header"
    import Form from "../components/pre-footer/Form";
    import VFooter from "../components/footer/Footer";

    export default {
        name: "Index",
        components: {VFooter, VHeader, Form}
    }
</script>
