<template>
    <div>
        <div class="bg-red mb-30">
            <div class="container">
                <b-navbar class="navbar-custom bg-red flex-wrap">
                    <nav-menu/>
                    <search-input/>
                </b-navbar>
            </div>
        </div>
        <!--Brand title-->
        <div class="container">
            <div class="row mb-30">

                <div class="col-12 col-sm-6">
                    <div class="mb-3 mb-sm-0">
                        <router-link :to="{name: 'index'}" class="router-link">
                            <h2 class="f-size-36 mb-0">SYSTEMATIC</h2>
                            <p class="f-size-12 mb-0">Free PSD Website Template</p>
                        </router-link>
                    </div>
                </div>
                <!--Icons-->
                <div class="col-12 col-sm-6">
                    <div class="h-100 d-flex flex-column justify-content-end">
                        <div class="d-flex justify-content-start justify-content-sm-end">
                            <icons/>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <main-menu/>

    </div>
</template>

<script>
    import Icons from "./Icons";
    import NavMenu from "./Nav-menu";
    import SearchInput from "./Search-input";
    import MainMenu from "./Main-menu";

    export default {
        name: "VHeader",
        components: {MainMenu, SearchInput, NavMenu, Icons}
    }
</script>
