<template>
    <div class="header-icons">
        <font-awesome-icon class="header-icon mr-2"
                           @click="goToLink('linkedin')"
                           :icon="['fab', 'linkedin-in']"/>
        <font-awesome-icon class="header-icon mr-2"
                           @click="goToLink('twitter')"
                           :icon="['fab', 'twitter']"/>
        <font-awesome-icon class="header-icon mr-2"
                           @click="goToLink('pinterest')"
                           :icon="['fab', 'pinterest-p']"/>
        <font-awesome-icon class="header-icon mr-2"
                           @click="goToLink('google')"
                           :icon="['fab', 'google-plus-g']"/>
        <font-awesome-icon class="header-icon"
                           @click="goToLink('rss')"
                           :icon="['fas', 'rss']"/>
    </div>
</template>

<script>
    export default {
        name: "icons",
        methods: {
            goToLink(name) {
                return location.href = `${'https://www.'}${name}.com`
            }
        }
    }
</script>
