<template>
    <div class="container mb-30">
        <b-navbar toggleable="lg" class="main-menu-navbar bg-black">

            <b-navbar-toggle target="nav-collapse">
                <font-awesome-icon class="color-white" :icon="['fas', 'bars']"/>
            </b-navbar-toggle>

            <b-collapse id="nav-collapse" is-nav>
                <b-navbar-nav class="w-100">
                    <b-nav-item :to="{name: 'index'}" class="main-menu-nav-item">HOMEPAGE</b-nav-item>
                    <b-nav-item :to="{name: 'style-demo'}" class="main-menu-nav-item">STYLE DEMO</b-nav-item>
                    <b-nav-item :to="{name: 'full-width'}" class="main-menu-nav-item">FULL WIDTH</b-nav-item>
                    <b-nav-item :to="{name: 'dropdown'}" class="main-menu-nav-item">DROPDOWN</b-nav-item>
                    <b-nav-item :to="{name: 'gallery'}" class="main-menu-nav-item">GALLERY</b-nav-item>
                    <b-nav-item :to="{name: 'portfolio'}" class="main-menu-nav-item">PORTFOLIO</b-nav-item>
                    <b-nav-item :to="{name: 'linkText'}" class="main-menu-nav-item">LINK TEXT</b-nav-item>
                    <b-nav-item :to="{name: 'long-link-text'}" class="main-menu-nav-item">LONG LINK TEXT</b-nav-item>
                </b-navbar-nav>

            </b-collapse>
        </b-navbar>
    </div>

</template>

<script>
    export default {
        name: "Main-menu"
    }
</script>
