<template>
    <b-navbar-nav class="navbar-nav-custom">
        <b-nav-item class="header-nav-item pipe" href="#">Sign Up</b-nav-item>
        <b-nav-item class="header-nav-item pipe" href="#">Login</b-nav-item>
        <b-nav-item class="header-nav-item pipe" href="#">RSS Feeds</b-nav-item>
        <b-nav-item class="header-nav-item" href="#">Archived News</b-nav-item>
    </b-navbar-nav>
</template>

<script>
    export default {
        name: "Nav-menu"
    }
</script>
