<template>
    <b-navbar-nav class="ml-0 ml-sm-auto">
        <b-nav-form class="position-relative">
            <b-form-input size="sm"></b-form-input>
            <b-button size="sm" class="header-search-btn" type="submit">
                <font-awesome-icon :icon="['fas', 'search']"/>
            </b-button>
        </b-nav-form>
    </b-navbar-nav>
</template>

<script>
    export default {
        name: "Search-input"
    }
</script>
