<template>
    <footer class="bg-light-grey pt-3">
        <div class="container">
            <div class="row pt-20">
                <div class="col-6">
                    <p class="f-size-12 color-light-grey">Copyright © 2013 Domain Name - All Rights Reserved</p>
                </div>
                <div class="col-6 text-right">
                    <p class="f-size-12 color-light-grey">Template by OS Templates</p>
                </div>
            </div>
        </div>
    </footer>
</template>

<script>
    export default {
        name: "VFooter"
    }
</script>
