<template>
    <validation-observer ref="observer" v-slot="{ handleSubmit }">
        <b-form @submit.stop.prevent="handleSubmit(onSubmit)">
            <validation-provider
                    name="Name"
                    :rules="{ required: true, min: 3 }"
                    v-slot="validationContext"
            >
                <b-form-group id="name-input" class="mb-0">
                    <b-form-input
                            id="name-input"
                            class="custom-form"
                            v-model.trim="form.name"
                            placeholder="Enter name"
                            :state="getValidationState(validationContext)"
                            aria-describedby="input-1-live-feedback"
                    />
                    <b-form-invalid-feedback id="input-1-live-feedback">{{ validationContext.errors[0] }}
                    </b-form-invalid-feedback>
                </b-form-group>
            </validation-provider>

            <validation-provider
                    name="Email"
                    :rules="{ required: true, email: true }"
                    v-slot="validationContext"
            >
                <b-form-group id="email-input" class="mb-0">
                    <b-form-input
                            id="email-input"
                            class="custom-form"
                            v-model.trim="form.email"
                            type="email"
                            placeholder="Enter email"
                            :state="getValidationState(validationContext)"
                            aria-describedby="input-2-live-feedback"
                    />
                    <b-form-invalid-feedback id="input-2-live-feedback">{{ validationContext.errors[0] }}
                    </b-form-invalid-feedback>
                </b-form-group>
            </validation-provider>

            <validation-provider
                    name="Subject"
                    :rules="{ required: true}"
                    v-slot="validationContext"
            >
                <b-form-group id="subject-input" class="mb-0">
                    <b-form-input
                            id="subject-input"
                            class="custom-form"
                            v-model="form.subject"
                            placeholder="Subject"
                            :state="getValidationState(validationContext)"
                            aria-describedby="input-3-live-feedback"
                    ></b-form-input>
                    <b-form-invalid-feedback id="input-3-live-feedback">{{ validationContext.errors[0] }}
                    </b-form-invalid-feedback>
                </b-form-group>
            </validation-provider>

            <b-form-textarea
                    class="custom-text"
                    v-model="form.text"
                    placeholder="Message"
                    rows="3"
            ></b-form-textarea>
            <b-button type="submit">SUBMIT</b-button>
        </b-form>
    </validation-observer>
</template>

<script>
    import '@/assets/css/form.css'

    export default {
        name: "Form",
        data: () => ({
            form: {
                name: '',
                email: '',
                subject: '',
                text: ''
            },
        }),
        methods: {
            getValidationState({dirty, validated, valid = null}) {
                return dirty || validated ? valid : null;
            },
            onSubmit() {
                alert("Form submitted!");
            },
        }
    }
</script>

<style scoped>

</style>